# Author: Christoph Merscher <dev@fmerscher.com>

*.pyc
*.bin
*.cue
*.iso
*.img
*.ecm
*.mdf
*.sub
*.log
*.spec
*.ssn
*.bak
roms/

# Python caches
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/
env/
.env/
ENV/
virtualenv/
digimon_word_venv/

# Build artefacts
build/
dist/

# Editable-install marker
*.egg-info/

out.txt
